/* Header section
-----------------------------------------------------------------------------------------------*/

/* Header imagge
 –––––––––––––––––––––––––––––––––––––––––––––––––– */
#h-excursions {
	background-image: url(../img/headers/excursions.jpg);}



/* Location 
 –––––––––––––––––––––––––––––––––––––––––––––––––– */	
.excursion {
}

	.ex-image {
			border: 1px solid rgba(255,255,255,1);
			overflow: hidden;}

		.ex-image img {
					border-bottom:0px;
					box-shadow:0 15px 10px -10px rgba(0,0,0,0.7);}

	
	.excursion p {
		font-family: 'Arimo', sans-serif;
		font-weight: 300;
		font-size: 1.6rem;}


	.ex-copy {
		padding: 2rem 5rem;
		border: 1px solid #d4d3d3;
		background-color: rgba(256,256,256,0.2);
		box-shadow: 0 0 30px 0 rgba(0,0,0,0.07);
		margin-top: -2rem;}

	.ex-small .ex-copy {
		margin-bottom: 0;
	}	





 /*




	

	.ex-heading {
		position: relative;
		padding: 0;
		z-index: 3;
		text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
		top: 0;
		font-size: 2rem;
		color: #fff;
		background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.75) 25%, rgba(0,0,0,0.5) 75%, rgba(0,0,0,0.05) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(25%,rgba(0,0,0,0.75)), color-stop(75%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,0.05)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0.75) 25%,rgba(0,0,0,0.5) 75%,rgba(0,0,0,0.05) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0.75) 25%,rgba(0,0,0,0.5) 75%,rgba(0,0,0,0.05) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0.75) 25%,rgba(0,0,0,0.5) 75%,rgba(0,0,0,0.05) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0.75) 25%,rgba(0,0,0,0.5) 75%,rgba(0,0,0,0.05) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#0d000000',GradientType=0 );
	}



/* Larger than phablet 
@media (min-width: 550px) {
	.ex-heading {
	padding: 2rem 0;
	font-size: 3rem;}

	.ex-image {
		padding-bottom: 4rem;}
}

/* Larger than desktop 
@media (min-width: 1000px) {
		.ex-heading {
		padding: 4.65rem 0;	}
}

/* Larger than Desktop HD 
@media (min-width: 1200px) {

} 




	

*/













































































 /*
.excursion {
	border: 1px solid #fff;
	background-color: rgba(256,256,256,0.2);
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.25);}

	.ex-image {
		border-left: 1px solid rgba(255,255,255,1);
		border-right: 1px solid rgba(255,255,255,1);
		padding-bottom: 1rem;
		overflow: hidden;}

		.ex-image img {
			border-bottom:0px;
			box-shadow:0 15px 10px -10px rgba(0,0,0,0.7);
			z-index: 1;
			position: relative;	
			margin-top: -15rem;	}

	.excursion p {
		font-family: 'Arimo', sans-serif;
		font-weight: 300;
		font-size: 1.6rem;}

	.ex-heading {
		position: relative;
		padding: 0;
		z-index: 3;
		text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
		top: 0;
		font-size: 2rem;
		color: #fff;
		background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.75) 25%, rgba(0,0,0,0.5) 75%, rgba(0,0,0,0.05) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(25%,rgba(0,0,0,0.75)), color-stop(75%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,0.05)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0.75) 25%,rgba(0,0,0,0.5) 75%,rgba(0,0,0,0.05) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0.75) 25%,rgba(0,0,0,0.5) 75%,rgba(0,0,0,0.05) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0.75) 25%,rgba(0,0,0,0.5) 75%,rgba(0,0,0,0.05) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0.75) 25%,rgba(0,0,0,0.5) 75%,rgba(0,0,0,0.05) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#0d000000',GradientType=0 );
	}



/* Larger than phablet 
@media (min-width: 550px) {
	.ex-heading {
	padding: 2rem 0;
	font-size: 3rem;}

	.ex-image {
		padding-bottom: 4rem;}
}

/* Larger than desktop 
@media (min-width: 1000px) {
		.ex-heading {
		padding: 4.65rem 0;	}
}

/* Larger than Desktop HD 
@media (min-width: 1200px) {

} 




	.ex-copy {
		margin: 1rem 5rem -5rem 5rem;}

		.ex-copy img {
			border: 1px solid #fff;
			position: relative;
			z-index: 1;}

		.ex-copy h3 {
			position: relative;
			top: -5.25rem;
			z-index: 5;
			background: rgba(0,0,0,0.5);
			padding: 1rem 0;
			text-transform: capitalize;
			font-size: 1.85rem;}

	.ex-small .ex-copy {
		margin-bottom: 0;
	}

	.img-info {
		overflow: inherit;
	}

*/