/* Header section
-----------------------------------------------------------------------------------------------*/

/* Header imagge
 –––––––––––––––––––––––––––––––––––––––––––––––––– */
#h-excursions {
	background-image: url(../img/headers/excursions.jpg);}



/* Location 
 –––––––––––––––––––––––––––––––––––––––––––––––––– */	
	.ex-image {
			border: 1px solid rgba(255,255,255,1);
			overflow: hidden;}

		.ex-image img {
					border-bottom:0px;
					box-shadow:0 15px 10px -10px rgba(0,0,0,0.7);}

	
	.excursion p {
		font-family: 'Arimo', sans-serif;
		font-weight: 300;
		font-size: 1.6rem;}


	.ex-copy {
		padding: 2rem 5rem;
		border: 1px solid #d4d3d3;
		background-color: rgba(256,256,256,0.2);
		box-shadow: 0 0 30px 0 rgba(0,0,0,0.07);
		margin-top: -2rem;}

	.ex-small .ex-copy {
		margin-bottom: 0;
	}	



/* Slides
 –––––––––––––––––––––––––––––––––––––––––––––––––– */	
.skdslider{
 width:100%;
 position: relative;
 display: block;
 overflow:hidden;}

	.skdslider:after {
	    content: '';
	    padding-top: 45%; 
	    display: block;}

	.skdslider ul.slides{
		margin:0; padding:0; list-style-type:none;}
	
		.skdslider ul.slides li	{
			display: none;}

		.skdslider ul.slides li img {
			border:0;}

	.skdslider ul.slide-navs {
	    bottom: -.5rem;
	    left: 50%;
	    position: absolute;
		list-style-type: none;
	    margin: 0;
	    padding: 0;}



.skdslider ul.slide-navs li {
    float: left;
	background: url("img/slide_position_bg.png") no-repeat scroll 0 0 transparent;
	height:15px;
	width:15px;
	margin-right:4px;
	cursor:pointer;}

	.skdslider ul.slide-navs li.current-slide {
	 	background: url("img/slide_position.png") no-repeat scroll 0 0 transparent;}


.skdslider .slide-desc {
    background: rgba(0,0,0,0.5);
    left: 0;
    padding: 0;
    position: absolute;
    bottom: 15%;
    margin: 0;
    max-width: 100%;
    width: 100%;
	display:inline-block;
	color: #fff;
	font-size: 1.4rem;
	text-align: center;}


/* Larger than phablet */
@media (min-width: 550px) {
	.skdslider:after {
	    padding-top: 42%;}

	.skdslider ul.slide-navs {
	    bottom: 0;}  

	.skdslider .slide-desc {
	    padding: 1rem 3rem;
	    bottom: 15%;
		font-size: 1.6rem;}      
}


/* Larger than tablet */
@media (min-width: 750px) {
	.skdslider:after {
	    padding-top: 38%;}
 
	.skdslider .slide-desc {
		padding: 1rem 3rem;
		bottom: 9%;
		font-size: 2rem;
		text-align: center;
		max-width: 100%;
		width: auto;}      
}

/* Larger than desktop */
@media (min-width: 1000px) {
	.skdslider .slide-desc {
	    bottom: 10%;} 
}


.skdslider .slide-desc > p {
    color: #FFFFFF;
    font-size: 2rem;
    text-align: center;
}


.skdslider a.prev{
    background: url("img/left.png") no-repeat scroll 0 0 transparent;
	width:35px;
	height:35px;
	display:block;
	cursor:pointer;
	position:absolute;
	top:50%;
	left:2%;
	margin-top:-17px;
}

.skdslider a.next{
    background: url("img/right.png") no-repeat scroll 0 0 transparent;
	width:35px;
	height:35px;
	display:block;
	cursor:pointer;
	position:absolute;
	top:50%;
	right:2%;
	margin-top:-17px;
}


.skdslider a.play{
    background: url("img/play.png") no-repeat scroll center center transparent;
	width:35px;
	height:35px;
	display:none;
	cursor:pointer;
	position:absolute;
	top:50%;
	left:48%;
	margin-top:-17px;
}

.skdslider a.pause{
    background: url("img/pause.png") no-repeat scroll center center transparent;
	width:35px;
	height:35px;
	display:none;
	cursor:pointer;
	position:absolute;
	top:50%;
	left:48%;
	margin-top:-17px;
}

@media screen and (max-width:750px) {
	.skdslider .slide-desc > p {
		font-size: 14px;
		margin-top: 5px;
	}
}


.ex-img-single {
	margin-bottom: 1.5rem;}

@media (min-width: 750px) {
	.ex-img-single {
		margin-bottom: 3rem;}   
} 